@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <label class="h3">There is only one project in my portfolio on .Net Core yet <a href="http://burovalex.portai.ru/RestAPI/Home">Movie search</a></label>
</div>
