
@{
    ViewData["Title"] = Resources.BurovAV.About;
    Layout = "~/Views/Shared/_BurovavLayout.cshtml";

    /*
    Меня зовут Алексей. Мне нравится программировать и я постоянно развиваюсь в этом направлении. Началось мое влечение к программированию с уроков информатики в школе, затем пошел учиться в институт на факультет информатики. <br/>
    После окончания ВУза вернулся в родной город и начал искать работу. В маленьком городе сложнее найти работу, особенно программистом. Тогда я решил не тратить время и пошел работать инженером электроником. Так как свободного времени было достаточно, я развивался в направлении геймдев. На тот момент я еще не знал о существовании мощных игровых движков, поэтому пользовался ранее мне известным Блитц3Д. Это был очень полезный и интересный опыт - я хорошо разобрался в работе рендера, фреймах, писал свои физические эффекты, генераторы частиц и многое другое. <br/>
    Потом я узнал о существовании токого великолепного движка как Unity3D. Его возможности меня поразили, и работа на этом движке стала моей мечтой. <br/>
    Но в моем городе есть только одна большая организация со специальностями программиста - "Сибинтек", в ней я на данный момент и работаю. Работа интересная, сопровождаем корпоративный портал, разрабатываем кастомные формы, веб-части и дополнительный функционал, где ШареПоинт не справляется. Здесь я хорошо подтянул C#, ASP Net, JS / jQuery, SQL. Полностью разработал клиент-приложение (C#, WPF, SQL).<br/>
    Я планирую и дальше развиваться и сейчас рассматриваю переезд в другой город.<br/>
    */
}

    <h1> @Resources.BurovAV.About</h1>


    <p class="h5" style="line-height:1.8">
        <img src="~/img/burovav_photo.jpg" width="240" style="float: left; margin: 8px 32px 8px 0px;" />
        @Html.Raw(@Resources.BurovAV.MyBiography)

    </p>