
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_BurovavLayout.cshtml";
}

<h1>Portfolio</h1>

<table>
    <tbody>
        <tr>
            <td rowspan="2">
                <a href="http://burovalex.portai.ru"><img src="~/img/burovav_project1_img1.png" height="100px" class="m-2 mr-4" /></a>
            </td>
            <td><label class="h5 text-uppercase pr-5 mb-2">Project <label class="h5 text-success font-weight-bold">C#</label> <label class="h5 text-success">Core 2.2 MVC</label><label class="h5 text-black-50">&nbsp;SQL&nbsp;</label><label class="h5 text-secondary">jQuery Bootstrap</label></label></td>
        </tr>
        <tr>
            <td><label class="h6">A description of the project will appear here. <br/> It can be multi-line text.</label> </td>

        </tr>
    </tbody>
</table>