@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p hidden>
    Мы не хотим тратить много времени на тестовые задания для трудоустройства.
    Лучше один раз потратить время на своё портфолио.
    На нашем сайте каждый наш программист разрабатывает своё портфолио в своём репозитории на .Net Core 2.2 и публикуется на субдомене.
</p>
<br/>
<p>We do not want to spend a lot of time on test tasks for employment. </p>
<p>It is better to spend time on your portfolio once. </p>
<p>On our website, each programmer develops his portfolio in the .Net Core 2.2 repository and is published on a subdomain.</p>

<script>
    $(function () {
        $("#navItemAbout").addClass("active");
    });
</script>
