@{
    ViewData["Title"] = @Resources.PortAI.About;
}
<h2>@ViewData["Title"]</h2>

<p hidden>
    Мы не желаем тратить много времени на тестовые задания для трудоустройства, чтобы доказать свои навыки. <br/>
    Мы желаем потратить свое время на портфолио, чтобы оно доказывало наши навыки. <br/>
    На нашем сайте каждый программист разрабатывает своё портфолио в своём репозитории на .Net Core 2.2 и публикуется на субдомене.
</p>
<br/>
<p class="h5 text-left d-xl-inline">@Html.Raw(Resources.PortAI.AboutBody)</p>

<script>
    $(function () {
        $("#navItemAbout").addClass("active");
    });
</script>
