@{
    ViewData["Title"] = "Home Page 33";
}

    <div class="text-center">
        <h1 class="display-4">Welcome 2</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

<script>
    $(function () {
        $("#navItemHome").addClass("active");
    });
</script>
