@{
    ViewData["Title"] = "PortAI - Portfolio website";
}

    <div class="text-center">
        <h1 class="display-4">@Resources.PortAI.HomeTitle</h1>
        <h3>@Resources.PortAI.HomeBody</h3>
    </div>

<script>
    $(function () {
        $("#navItemHome").addClass("active");
    });
</script>
