
@{
    ViewData["Title"] = Resources.PortAI.Portfolio;
}

    <h1>@Resources.PortAI.Portfolio</h1>
<table>
    <tbody>
        <tr>
            <td colspan="2"><a asp-area="" asp-controller="Burovav" asp-action="Index"><p class="h3 mt-5 mb-4 text-uppercase">Алексей Буров</p></a></td>
            <td><p> </p></td>
        </tr>
        <tr>
            <td><p class="h5 text-uppercase pr-5 mb-2">@Resources.PortAI.Projects</p></td>
            <td><label class="h5">1 -&nbsp;</label><label class="h5 text-success">C#&nbsp;</label><label class="h5 text-primary">Core 2.2 MVC&nbsp;</label> <label class="h5 text-black-50">SQL&nbsp;</label><label class="h5 text-secondary">jQuery Bootstrap</label></td>
        </tr>
        <tr>
            <td colspan="2"><a asp-area="" asp-action="Index" asp-host="merkulenkoiv.portai.ru"><p class="h3 mt-5 mb-4 text-uppercase">Илья Меркуленко</p></a></td>
            <td><p> </p></td>
        </tr>
        <tr>
            <td><p class="h5 text-uppercase pr-5 mb-2">@Resources.PortAI.Projects</p></td>
            <td>
                <label class="h5">1 -&nbsp;</label><label class="h5 text-danger">@Resources.PortAI.InDeveloping</label>
            </td>
        </tr>
    </tbody>
</table>
<script>
    $(function () {
        $("#navItemPortfolio").addClass("active");
    });
</script>
