@{
    ViewData["Title"] = "Home Page";
    
}

<html>
<head>
    <title>
        Анкеты Участников Сообщества
    </title>
</head>
<body>
    <h3>Анекты</h3>
    <table>
        <tr>
            <td>Имя</td>
            <td>Фамилия</td>
            <td>Навыки</td>
        </tr>
    </table>
</body>

</html>
